* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list__character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__list {
  font-size: 25px;
  color: white;
  text-align: center;
}

.list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  background-color: coral;
}
.form__input {
  border: coral solid 1px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.label__input {
  padding: 10px 10px 10px 10px;
}

.label__especie {
  padding: 10px 10px 10px 10px;
  margin-left: 15px;
}
.form__especie {
  border: coral solid 1px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}
.link__return {
  text-decoration: none;
  background-color: cornflowerblue;
  border-radius: 20px;
  margin-bottom: 15px;
}

.card__title {
  padding: 40px;
  text-align: center;
  color: bisque;
}
